**/*~
**/*.pyc
**/._*
build/
dist/
basenji.egg-info/
*/__pycache__/
.DS_Store
*/.DS_Store
*/._.DS_Store
**/.ipynb_checkpoints/
data/hg19.fa*
manuscripts/genome_research2018/model.tf.meta
manuscripts/genome_research2018/model.tf.data-00000-of-00001
manuscripts/genome_research2018/model.tf.index
manuscripts/genome_research2018/Basenji_pretrain_model.zip
.idea